#list-un-bookmark-button {
    filter: invert(32%) sepia(95%) saturate(1357%) hue-rotate(180deg) brightness(90%) contrast(85%);
    height: 25px;
    width:15px;
}

#list-bookmark-button {
    filter: invert(32%) sepia(95%) saturate(1357%) hue-rotate(180deg) brightness(90%) contrast(85%);
    height:25px;
    width:15px;
}

#bookmark-button {
    width:30px;
}

#un-bookmark-button {
    width:30px;
}