#search-box {
    max-width: 1000px;
    margin: auto;
    margin-top: 100px;
    background-color: #354955;
}

#search-button {
    background-color: #347488;
    font-weight: bold;
    color:white
}

#tell-me-about {
    color: #71A2AF
}